
body, h1 {
  font-family: "Montserrat", sans-serif
}

body, html {
  height: 100%
}

.bgimg {
  background-image: url('/assets/images/coming-soon.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
